#question1, #question2, #question3, #question4, #question5, #tracks{
  display: none;
  margin: 5% 30%;
  padding: 10px;
  color:white;
  border-radius: 4%;
  background-color: rgba(0,0,0,.4);
  color:
}
.links{
  text-align: center;
  font-size: 1.1em
  
}
.links a{
  margin: 5px 10px 5px 10px;
}

body{
  /*margin:3% 10% 10% 3%;*/
  font-family: sans-serif;
  background-image: url("../img/background.jpg");

  background-repeat: no-repeat;

  background-color: #000;
  background-attachment: fixed;
  background-size: cover;
  margin: 1% 2%;
}
.get-started{
  text-align: center;
}
.main-header{
  margin-top:10px;
  text-align: center;
  font-size: 2.1em;
}
.main-text p{
  font-size:1.1em;
}
.jumbotron{
  color:white;
  text-align: center;
  padding: 3;
  background-color: rgba(0,0,0,.4);
  margin-top: 10px;
  padding-top:7px;
  padding-bottom:7px;
}
